annotated-types==0.7.0
    # via pydantic
asgiref==3.11.0
    # via django
boto3==1.42.9
    # via -r requirements.in
botocore==1.42.9
    # via
    #   boto3
    #   s3transfer
click==8.3.1
    # via typer
colorama==0.4.6
    # via click
django==6.0
    # via
    #   -r requirements.in
    #   django-jazzmin
    #   django-ninja
django-jazzmin==3.0.1
    # via -r requirements.in
django-ninja==1.3.0
    # via -r requirements.in
jmespath==1.0.1
    # via
    #   boto3
    #   botocore
markdown-it-py==4.0.0
    # via rich
mdurl==0.1.2
    # via markdown-it-py
pydantic==2.10.5
    # via
    #   -r requirements.in
    #   django-ninja
pydantic-core==2.27.2
    # via pydantic
pygments==2.19.2
    # via rich
pyjwt==2.10.1
    # via -r requirements.in
python-dateutil==2.9.0.post0
    # via botocore
python-dotenv==1.2.1
    # via -r requirements.in
rich==14.2.0
    # via typer
s3transfer==0.16.0
    # via boto3
shellingham==1.5.4
    # via typer
six==1.17.0
    # via python-dateutil
sqlparse==0.5.4
    # via django
typer==0.20.0
    # via -r requirements.in
typing-extensions==4.15.0
    # via
    #   pydantic
    #   pydantic-core
    #   typer
tzdata==2025.3
    # via django
urllib3==2.6.2
    # via botocore
